html,body{
    height: 100%;
    /*overflow-y: hidden;*/
    overflow-x: hidden;    
}

#login {
    
    text-align: left;
}

#login input{
    color:black;
}
.cs_login{
    height:95px;
    font-size:48pt;
}

#chat{
    width: 100%;
    height:75%;
    overflow-y: scroll;
    overflow-x: hidden;
}
#chat li {
    list-style-type: none;
    margin-left: -48px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #CCCCCC;
}
#chat .msg_me{
    background-color: #1e252b;
}
#chat h3{
    font-size:17px;
    margin: 0;
    display: inline;
    padding-right: 8px;
}
#chat_window{
    margin-top: 85px;
}

.chat_image{
    max-width: 500px;
}

.typing {
    border-bottom:0px !important;
}
.no_break_above {
    margin-top:0 !important;
    padding-top:0 !important;
    border-top: 0 !important;
}
.no_break_below {
    margin-bottom:0 !important;
    padding-bottom:0 !important;
}
#text_box{
    bottom:0px;
    padding:5px;
    position: fixed;
    width:100%;
}

#user_list li {
    list-style-type: none;
}
#user_list img {
    height: 25px;
    width : 25px;
}

#repassword_container{
    position: relative;
    top: 45%;
}

.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.modal-content{
    background-color: #000000;
}

.modal-content h4 {
    margin-bottom: 2px;
}

