{% extends "layout.html" %}
{% block title%}ChatSec: {{room_key}}{%endblock%}
{% block content %}
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <i id="lock_status" class="fa fa-unlock-alt"></i> <span class="light">Chat</span>Sec
                </a>
               <a class="navbar-brand page-scroll" href="#">
                    <span id="room_name" class="light"></span>
                </a>                
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a id="settings_btn" data-toggle="modal" data-target="#settings_modal" href="#">Settings</a>
                    </li>                    
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="chat_window" class="container-fluid">
        <div class="row">

            <!-- Chat Content -->
            <div class="col-xs-12 col-sm-12 col-md-8">
                <ul id="chat">
                    <li class="row typing" data-user="" data-date="">
                        <div class="col-sm-1 col-md-1 user_image">
                            <img class="img-responsive typing_avatar" src="">
                        </div>
                        <div class="col-sm-8">
                            <h3></h3><br/>
                            <span class="msg_content">
                                <img height="20" src="/static/imgs/typing.gif">
                            </span>                            
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Chat TextBox -->        
        <div id="text_box" class="row">
            <div class="col-md-2 hidden-sm hidden-xs form-group form-group-lg">
                <img height="50" width="50" src="/static/imgs/avatars/white/{{avatar}}">
            </div>
            <div class="col-xs-12 col-md-10" >
                <div class="input-group">
                    <textarea id="textbox" class="form-control" type="text" id="formGroupInputLarge" placeholder="Type type type"></textarea>
                    <div class="input-group-addon">
                        <button id="send" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </div>
        </div>        
    </section>        
    
    <section id="repassword_container" style="display:none;">
        <div class="container container-table">
            <div class="row vertical-center-row">
                <div class="text-center col-md-6 col-md-offset-3">
                    <div id="form_password" class="form-group">
                        <label for="repassword">Your session has been locked.</label>
                        <input type="password" class="cs_login form-control form-control-lg" name="password" id="repassword" placeholder="Password">
                        <small id="repassword_help" class="form-text text-muted">Your session is still active, but your password is required decrypt the content.</small>
                    </div>
                </div>
            </div>
        </div>
        <!-- <a href="#" onclick="leave_room();">Leave this room</a> -->
    </section>

    <!-- Modal -->
    <div id="settings_modal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Settings</h4>
          </div>
          <div class="modal-body">
            <!--
            <div class="form-group">
                <h4>General</h4>
                <label class="checkbox-inline"><input type="checkbox" name="setting_audio" class="setting-update" checked="checked">Enable Audio</label>
                <br>
            </div>
            -->
            <div class="form-group">
                <h4>Local Cache</h4>
                <button class="btn btn-danger setting-update" name="clear_local">Clear local</button>
                <br>
            </div>
            {%if config['DEBUG'] == 'x' %}
                <div>
                    <h4>DEBUG</h4>

                    username: {{user_name}} <br>
                    session['user_key'] = {{session['user_key']}} <br>
                    debug: {{config['DEBUG']}}<br>
                    password: {{password}}<br>
                </div>
            {%endif%}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>    
{% endblock %}

{% block script %}
    <script src="/static/js/aes.js"></script>
    <script src="/static/js/aes-ctr.js"></script>
    <script src="/static/js/main.js"></script>

    <script type="text/javascript">
        settings_update();
        CHATSEC.init();
        $(document).ready(function(){
            CHATSEC.launch();
        });
    </script>
{% endblock %}