{% extends "layout.html" %}
{% block content %}            
<h1>Room: {{ room }}</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ul id="chat">
                <li class="row hide">
                    <div class="col-sm-1 col-md-1 user_image">
                        <img class="img-responsive" src="https://avatars3.githubusercontent.com/u/1571526?v=3&s=100">
                    </div>
                    <div class="col-sm-8">
                        <h3>Alix</h3>
                        <small>Mar-25 3:00 PM</small>
                        Message text goes here!
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"><img src="/static/avatars/{{avatar}}"></div>
        <div class="col-sm-7">            
            <input id="text" size="80" placeholder="Enter your message here">
        </div>
        <div class="col-sm-4">
            <button id="send" class="btn btn-primary">Send</button><br><br>
        </div>
    <a href="#" onclick="leave_room();">Leave this room</a>
</div>
{% endblock %}
