{% extends "layout.html" %}
{% block title%}ChatSec{%endblock%}
{% block content %}   
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <i class="fa fa-lock"></i> <span class="light">Chat</span>Sec
                </a>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Login Section -->
    <section id="login" class="container content-section text-center">
		<h2>Verify Other ChatSec Servers</h2>
        <p>Using a version of ChatSec on another host? Want to verify that the server you are using is not running a legitimate version of the software and not recording your conversation? Well if the server is publically available enter it's url here and we will grade the quality and validity of the install! Some day soon we will create a test to verify local installs..</p>

    	<div class="item active">
			<div id="form_user_name" class="form-group">
				<h4><label for="user_name">ChatSec URL</label></h4>
                <form method="POST" action="/verify">
				    <input type="text" class="cs_login form-control form-control-lg" name="chatsec_url" id="chatsec_url" aria-describedby="user_name_help" value="" placeholder="https://chatsec.org">
                    <input type="button" value="submit">
                </form>
			</div>
          </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; The Public 2016</p>
        </div>
    </footer>

{% endblock %}

{% block script %}
    <script src="/static/js/aes.js"></script>
    <script src="/static/js/aes-ctr.js"></script>
    <script src="/static/js/main.js"></script>


{% endblock %}    